@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
    overflow: hidden;
}
body{
    background-image:  url(./assets/home/background-home-desktop.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    
}
.container{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
.main_page{
    width: 95%;
    /* border: 1px solid blue; */
    display: flex;
    padding: 12px;
    align-items: center;
    
    /* align-self: flex-s; */
    justify-content: space-between;
    margin-top: 20px;
}
.main_page svg{
     transform: translate(-5%,-5%);
     margin-left: 20px;
}
.main_page img{
    width: 20%;
    padding-right: 40px;
    display: none;
}
.main_page ul {
    display: flex;
    column-gap: 40px;
    align-items: center;
    /* border: 1px solid blue; */
    /* justify-content: center; */
    transform: translate(6.7%,0%);
    list-style: none;
    padding: 22px;
    /* border: 1px solid green; */
    /* background-image: linear-gradient(to right,180deg,rgb(19,21,34),rgb(85,97,121),rgb(19,37,73)); */
    background-image: linear-gradient(to right, rgb(19,21,34),rgb(85,97,121),rgb(19,37,73));
    width: 55%;
    padding-left: 70px;
}
.main_page  button img{
    display: none;
    /* background-color: red; */
    

}
.main_page ul li span{
    color: #ffffff;
    /* display: flex; */
    column-gap: 8px;
    /* border: 1px solid magenta; */
    font-size: 10.5px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
}
.main_page span{
    border-top:  0.8px solid rgb(67, 61, 61);
    width: 38%;
    transform: translate(15%,0%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main_page ul li a {
    color: rgba(207, 202, 202, 0.944);
    font-size: 10px;
    text-decoration: none;
    column-gap: 8px;
    opacity: 0.7;
    display: flex;
}
.main_page ul li a:active{
    border-bottom: 2px solid white;
    cursor: pointer;
    /* width: 20px; */
}
.content{
    width: 90%;
    height: 80%;
    color: #fff;
    display: flex;
    align-items: center; 
    /* border: 1px solid red; */
    justify-content: space-between;
}
.content1 {
    width: 50%;
    height: 55%;
    /* border: 2px solid blue; */
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 10px;
}
.content1 h6{
    font-size: 20px;
    text-transform: uppercase;
    word-spacing: 2px;
    /* font-family: 'Poppins', sans-serif; */
    margin-top: 50px;
    color: rgb(210, 200, 200);
}
.content1 h1{
    font-size: 95px;
    text-transform: uppercase;
    color: #fffefe;
    /* font-family: 'Poppins', sans-serif; */
    letter-spacing:5px;
}
.content1 p{
    font-size: 13.5px;
    line-height: 25px;
    width: 52%;
    color: rgb(192, 183, 183);

}
.round_Explore{
    width: 21%;
    height: 50%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-right: 7rem;

}
.round_Explore:hover{
    cursor: pointer;
    opacity: 0.6;
}
.round_Explore h2{
    color: rgb(49, 49, 49);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
@media(max-width:768px){
    body{
        background-image: url(./assets/home/background-home-mobile.jpg);
        /* width: 100%;
        height: 100vh; */
        background-repeat: no-repeat;
        background-position: fixed;
        justify-content: flex-end;
    }
    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        /* border: 1px solid red; */
    }
    .main_page{
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .main_page ul{
        display: none;
        width: 30%;
        height: 20vh;
        /* display: flex; */
        /* justify-content: center; */
        background-color: rgb(107, 105, 105);
        opacity: 0.8;
        font-size: 12px;
        z-index: 1;
        position: absolute;
        flex-direction: column;
        margin-left: 10rem;
        margin-top: 7rem;

    }
    .main_page button img{
        border: none;
        position: absolute;
        display: block;
        width:60px;
        height: 40px;
        /* bottom: 10px; */
        left: 70px;
        top: 10px;

    }
    .main_page ul li{
       /* width: 5%;      */
       position: relative;
       font-size: 14px;
       right: 60px; 
       padding: 5px;
    }
    .main_page ul li a{
        color:white;
    }
    .main_page span{
        display: none;
    }
    .main_page img{
        display: block;
        position: relative;
        right: 30px;
        /* border: 1px solid red; */
    }
    main_page img:active{
        color: rgb(93, 192, 232);
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* border: 1px solid blue; */
        height: 50vh;
    }
    .content1 {
        /* border: 1px solid red; */
        width: 90%;
        height: 35vh;
        padding: 5px;
        /* position: absolute; */
    }
    .content1 h6{
        font-size: 10px;
        text-align: center;
    }
    .content1 h1{
        font-size: 43px;
        padding-top: 5px;
        text-align: center;
    }
    .content1 p{
        font-size: 15px;
        line-height: 30px;
        padding-top: 10px;
        text-align: center;
        width: 90%;
    }
    .round_Explore{
        width: 50%;
        /* min-height: 30px; */
        border-radius: 50%;
        transform: scale(1) translate(30%,-50%);

    }
    .round_Explore h2{
        font-size: 15px;
        padding: 70px 0 70px 0;
    }
    
    
}






